*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	padding: 2rem;
	background-color: hsl(0, 0%, 95%);
	color: #131311;
	font-family: "Montserrat", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main {
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
}

h1 {
	margin: 15px 0;
	font-weight: 600;
	font-size: 28px;
	text-align: center;
}

.btn-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10%;
	margin: 35px 0;
}

.start {
	background: rgba(48, -33, -253);
	color: white;
}

.break {
	background: green;
}

.reset {
	background: red;
	color: white;
}

.pause {
	background: orange;
}

.resume {
	background: purple;
	color: white;
}

.timer-container {
	padding: 3px;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	height: 30%;
	font-family: inherit;
	font-size: 4rem;
}

.state {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	font-size: 1.5rem;
}

.progress-ring {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.progress-ring__circle {
	transform: rotate(-90deg);
	transform-origin: 50% 50%;
	stroke: rgb(51, 62, 255);
	transition: 0.5s;
}

button {
	margin: 5px;
	padding: 10px;
	border: none;
	font-size: 1.25rem;
	transition: 0.5s ease-in-out;
}

form {
	height: 20%;
	display: flex;
	flex-direction: column;
	padding: 0;
	max-width: 370px;
	margin: 5px auto;
}

input {
	margin: 15px 0;
	font-size: 18px;
	padding: 5px;
	background: rgba(0, 0, 0, 0.11);
	border: none;
	transition: 0.5s ease-in-out;
}

form button {
	background: rgb(255, -25, -140);
	width: 100%;
	margin: 5px 0;
	color: white;
}

footer {
	position: fixed;
	bottom: 40px;
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

.danger {
	stroke: red;
	animation: pulse 0.9s ease-in-out infinite;
}

@keyframes pulse {
	0%,
	100% {
		transform: rotate(-90deg) scale(1);
	}

	50% {
		transform: rotate(-90deg) scale(1.05);
	}
	75% {
		transform: rotate(-90deg) scale(1);
	}
}

@media screen and (min-width: 768px) {
	body {
		display: grid;
		grid-template-areas:
			"head head"
			"clock form"
			"btns empty";
	}

	.btn-group {
		grid-area: btns;
		justify-content: center;
	}

	.clock {
		grid-area: clock;
		height: 100%;
	}

	h1 {
		grid-area: head;
		align-self: center;
	}
}
